.about {
   width: '100%';
   border: '1px solid black';
   background-size: fit-screen;
   line-height: 40px;
   position: block;
   padding: 5%;
}


main {
   margin: 10% 0 0 0
}

@media (min-width: 700px) {
   main {
      display: flex;
      flex-direction: column;
   }

   .about {
      width: 80%;
      
   }
}