.wave {
   width: 100%;
   content: "";
   background: url(./gallery/layered-waves-haikei.svg) no-repeat ;
   background-size: cover;
   background-position: 90%;
   background-size: cover;
   height: 30vh
}

.wave p {
   color: transparent;
   user-select: none;
}