header {
   position: fixed;
   top: 0;
   width: 100%;
   background: #fafafa;
}


.navLinks {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   border: 1px solid black;
   justify-content: flex-end;
   background: #fafafa
}

.header * {
   text-decoration: none;
   color: #1b202a;
   padding: 0.5%
}


.header > .navLinks > .link {
   margin-top: 2%;
   align-content: flex-end;
}