svg{
   height: auto;
   flex: 1;
   max-width: 75px;
   flex-wrap: wrap;
}

.icons {
   display: grid;
   grid-template-columns: repeat(4, 80px);
   grid-template-rows: repeat(2, 80px);
}


@media (min-width: 700px) {
   svg {
      max-width: 125px;
   }

   .icons {
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: repeat(2, 100px);
      align-content: stretch;
      justify-content: space-evenly;
      align-items: center;
   }
}