html {
  scroll-behavior: smooth ;

}

body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    margin: 0;
  color: #1b202a;
  background-color: #fafafa;
  
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  line-height: 1.8rem;
  font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Container Stylings */
.navLinks {
  width: 50%;
  margin: 0;
  padding: 0;
}

/* Additional styling */


a {
  padding: 1%;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'EB Garamond', serif;
  padding: 20px 0
}

h2 {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

p, li {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

